@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 12px !important;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  width: 5px !important;
  background: content-box rgba(94, 109, 122, 0.54);
  border-radius: 17px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent;
  border-image: initial;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  width: 100%;
  border-radius: 10px;
}

/* header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

header a {
  color: #fff;
} */

.container {
  max-width: 1000px;
  margin: auto;
  padding: 0 10px;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul,
ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  /* background: #f4f4f4; */
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 500px) {
  .posts {
    grid-template-columns: 1fr;
  }
}

/*!
  Theme: OneDark
  Author: Lalit Magant (http://github.com/tilal6991)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
}
.hljs {
  color: #abb2bf;
  /* background: #000;
  border-radius: 7px; */
}
.hljs ::selection,
.hljs::selection {
  background-color: #3e4451;
  color: #abb2bf;
}
.hljs-comment {
  color: #545862;
}
.hljs-tag {
  color: #565c64;
}
.hljs-operator,
.hljs-punctuation,
.hljs-subst {
  color: #abb2bf;
}
.hljs-operator {
  opacity: 0.7;
}
.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
  color: #e06c75;
}
.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
  color: #d19a66;
}
.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
  color: #e5c07b;
}
.hljs-strong {
  font-weight: 700;
  color: #e5c07b;
}
.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
  color: #98c379;
}
.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
  color: #56b6c2;
}
.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
  color: #61afef;
}
.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
  color: #c678dd;
}
.hljs-emphasis {
  color: #c678dd;
  font-style: italic;
}
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: #be5046;
}
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: 700;
}

code {
  max-width: 100%;
  border-radius: 7px;
  display: inline-block;
  padding: 0.1em 0.5em;
  margin-bottom: 0.3em;
  /* background-color: #282c34; */
  color: rgb(245, 245, 245);
  border: 1px solid rgba(110, 118, 129, 0.4);
}

/* pre code {
  font-family: "Fira Code", monospace;
} */
